.main-body {
  height: 100vh;
}

.page {
  width: 100%;
  height: 100vh;
}

.header-container {
  width: 100%;
  height: auto;
  background-color: inherit;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .header-container {
    height: 60px;
  }
}

.header {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.logo-wrapper {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #1a1818;
  font-size: clamp(1.5rem, 1.295rem + 1.03vw, 2rem);
  font-weight: 700;
  font-family: "Allura", cursive;
  line-height: 1.1;
  cursor: pointer;
}

.icon-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 480px) {
  .icon-wrapper {
    display: none;
  }
}

.icon {
  width: clamp(1.5rem, 1.795rem + 1.03vw, 2rem);
  height: clamp(1.5rem, 1.795rem + 1.03vw, 2rem);
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
}
.icon:hover {
  transform: scale(1.1);
}
.icon img {
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .icon:first-child {
    margin-left: 0;
  }
}

.main {
  width: 100%;
  background-color: inherit;
  height: 100vh;
  padding-top: clamp(5rem, 2.051rem + 5.74vw, 6rem);
}
@media (max-width: 480px) {
  .main {
    padding-top: 8rem;
  }
}
@media (max-width: 1020px) {
  .main {
    height: auto;
  }
}

.home-container {
  width: 100%;
  height: 100%;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}
@media (max-width: 1020px) {
  .home-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.home-content-wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px;
}
@media (max-width: 1020px) {
  .home-content-wrapper {
    width: 100%;
    margin-bottom: 40px;
    max-width: 100%;
  }
}

.my-name {
  font-size: 6vw;
  font-weight: 700;
  font-family: "roman-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
  margin-bottom: 20px;
}
@media (min-width: 481px) {
  .my-name {
    font-size: 3vw;
  }
}

.my-title {
  font-size: clamp(0.6rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
}
@media (max-width: 1020px) {
  .my-title {
    max-width: 680px;
  }
}
.my-title a {
  text-decoration: underline;
  color: #1a1818;
  font-weight: 700;
}

.title-work {
  font-weight: 600;
}

.home-btn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.btn {
  color: #1a1818;
  text-align: left;
  text-transform: uppercase;
  border: 0 solid #000;
  font-family: "text-tunde, sans-serif, cursive";
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.95em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
  position: relative;
  cursor: pointer;
  border: 2px solid #1a1818;
  padding: 10px 20px;
}

.home-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1020px) {
  .home-nav {
    width: 100%;
    justify-content: center;
    max-width: 100%;
    padding-top: 20px;
    height: 100vh;
  }
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
  margin-left: 20px;
}
@media (max-width: 1020px) {
  .nav {
    margin-left: 0;
    width: 100%;
  }
}

.nav-link-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.nav-link-wrapper:last-child {
  margin-bottom: 0;
}

.nav-link {
  z-index: 100;
  color: #1a1818;
  text-align: left;
  text-transform: uppercase;
  border: 0 solid #000;
  font-family: "roman-tunde, sans-serif, cursive";
  font-size: clamp(4rem, 3.273rem + 3.64vw, 6rem);
  font-weight: 400;
  line-height: 0.95em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
  position: relative;
  cursor: pointer;
}
.nav-link:hover {
  color: black;
  transform: scale(1.1);
  font-style: italic;
}
@media (max-width: 1020px) {
  .nav-link:hover {
    transform: scale(1);
  }
}

.contact-main {
  width: 100%;
  background-color: inherit;
  height: 100vh;
  padding-top: clamp(5rem, 2.051rem + 5.74vw, 6rem);
}
@media (max-width: 480px) {
  .contact-main {
    padding-top: 8rem;
  }
}
@media (max-width: 1020px) {
  .contact-main {
    height: auto;
  }
}

.contact-container {
  width: 100%;
  height: 100%;
}

.contact-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  padding: 0 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.contact-title {
  font-size: clamp(6rem, 4.359rem + 8.21vw, 10rem);
  font-weight: 400;
  font-family: "roman-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
}
@media (max-width: 1020px) {
  .contact-title {
    max-width: 680px;
  }
}

.contact-text {
  font-size: clamp(0.8rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-bottom: 1rem;
}

.my-mail {
  font-size: clamp(0.8rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-top: 20px;
}
.my-mail a {
  text-decoration: underline;
  color: #1a1818;
  font-weight: 700;
}

.my-socials {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.my-socials a {
  text-decoration: none;
  display: block;
  margin-right: 20px;
}
.my-socials a:hover {
  transform: scale(1.1);
}
.my-socials a img {
  width: clamp(1.5rem, 1.795rem + 1.03vw, 2rem);
  height: clamp(1.5rem, 1.795rem + 1.03vw, 2rem);
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
}
.my-socials a img:first-child {
  margin-left: 0;
}

.about-main {
  width: 100%;
  background-color: inherit;
  height: 100vh;
  padding-top: clamp(5rem, 2.051rem + 5.74vw, 6rem);
}
@media (max-width: 480px) {
  .about-main {
    padding-top: 8rem;
  }
}
@media (max-width: 1020px) {
  .about-main {
    height: auto;
  }
}

.about-container {
  width: 100%;
  height: 100%;
}

.about-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  padding: 0 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.about-content-wrapper {
  padding-bottom: 1rem;
}

.about-title {
  font-size: clamp(6rem, 4.359rem + 8.21vw, 10rem);
  font-weight: 400;
  font-family: "roman-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
}
@media (max-width: 1020px) {
  .about-title {
    max-width: 680px;
  }
}

.about-text {
  font-size: 45px;
  font-weight: 400;
  font-family: "roman-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-bottom: 1rem;
}

.my-pic-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}
.my-pic-wrapper img {
  width: 100%;
  border-radius: 50px;
}

.about-top-wrapper {
  width: 100%;
  padding-bottom: 4rem;
}
.about-top-wrapper .about-top-text {
  font-size: clamp(0.8rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
  margin-bottom: 1rem;
}
.about-top-wrapper .about-top-text .quote {
  font-size: 45px;
  font-weight: 400;
  font-style: italic;
  font-family: "roman-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-bottom: 1rem;
}

.my-experience, .my-skill, .my-hobbies, .kudos {
  font-size: 35px;
  font-weight: 400;
  font-family: "roman-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-bottom: 1rem;
}

.degree, .skill, .hobbies, .kudos-text {
  font-size: clamp(0.8rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
  margin-bottom: 1.3rem;
}

.skill-title {
  font-size: clamp(0.8rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 600;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
  margin-bottom: 1.3rem;
}

.about-btn-wrapper {
  margin-bottom: 1.2rem;
}

.kudos-text a {
  text-decoration: underline;
  color: #1a1818;
  font-weight: 700;
}

.work-main {
  width: 100%;
  background-color: inherit;
  height: 100vh;
  padding-top: clamp(5rem, 2.051rem + 5.74vw, 6rem);
}
@media (max-width: 480px) {
  .work-main {
    padding-top: 8rem;
  }
}
@media (max-width: 1020px) {
  .work-main {
    height: auto;
  }
}

.work-container {
  width: 100%;
  height: 100%;
}

.work-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  padding: 0 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.work-title {
  font-size: 8vw;
  font-weight: 400;
  font-family: "roman-tunde, sans-serif, cursive";
}

.work-subtitle-wrapper {
  padding-bottom: 2rem;
}

.work-text {
  font-size: clamp(0.8rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-bottom: 1rem;
}

.work-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.work-list {
  margin-bottom: 20px;
}

.work-link {
  z-index: 100;
  color: #1a1818;
  text-align: left;
  text-transform: uppercase;
  border: 0 solid #000;
  font-family: "roman-tunde, sans-serif, cursive";
  font-size: 12vw;
  font-weight: 400;
  line-height: 0.95em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
  position: relative;
  cursor: pointer;
  text-overflow: clip;
}
.work-link:hover {
  color: black;
  transform: scale(1.1);
  font-style: italic;
}
@media (max-width: 1020px) {
  .work-link:hover {
    transform: scale(1);
  }
}
@media (min-width: 481px) {
  .work-link {
    font-size: 10vw;
  }
}

.work-role {
  font-size: clamp(0.8rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 400;
  font-family: "roman-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
  margin-bottom: 1rem;
}

.blog-main {
  width: 100%;
  background-color: inherit;
  height: 100vh;
  padding-top: clamp(5rem, 2.051rem + 5.74vw, 6rem);
}
@media (max-width: 480px) {
  .blog-main {
    padding-top: 8rem;
  }
}
@media (max-width: 1020px) {
  .blog-main {
    height: auto;
  }
}

.blog-container {
  width: 100%;
  height: 100%;
}

.blog-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  padding: 0 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.blog-title {
  font-size: 8vw;
  font-weight: 400;
  font-family: "roman-tunde, sans-serif, cursive";
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .blog-title {
    font-size: 12vw;
  }
}

.blog-subtitle {
  font-size: clamp(0.8rem, 0.718rem + 0.41vw, 1rem);
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-bottom: 1rem;
}

.blog-post-wrapper {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .blog-post-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .blog-post-wrapper {
    grid-template-columns: 1fr;
  }
}

.blog-card-content-wrapper {
  padding: 1rem;
  height: 60%;
}

.blog-post {
  margin-bottom: 20px;
  transition: all 0.35s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-height: 400px;
  display: block;
  text-decoration: none;
  height: auto;
}
.blog-post:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.blog-post img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.blog-post .blog-post-title {
  font-size: 2vw;
  font-weight: 600;
  font-family: "roman-tunde, sans-serif, cursive";
  line-height: 1.1;
  color: #1a1818;
  margin-bottom: 0.3rem;
}
@media (max-width: 480px) {
  .blog-post .blog-post-title {
    font-size: 5vw;
  }
}
.blog-post .blog-post-text {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-bottom: 1rem;
}
.blog-post .blog-post-date {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
  margin-bottom: 1rem;
  display: block;
}

.footer {
  width: 100%;
}

.footer-wrapper {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.icon-lower-wrapper {
  display: none;
}
@media (max-width: 480px) {
  .icon-lower-wrapper {
    display: flex;
  }
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  font-family: "text-tunde, sans-serif, cursive";
  line-height: 1.1;
  max-width: 680px;
  color: #1a1818;
}

@keyframes fadeIn-slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.page {
  animation: fadeIn-slideDown 2s ease-in-out;
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "text-tunde, sans-serif, cursive";
  background-color: #ece7e1;
}

@font-face {
  font-family: "roman-tunde, sans-serif, cursive";
  src: url(/assets/fonts/GrandSlang_Roman.woff2);
}
@font-face {
  font-family: "text-tunde, sans-serif, cursive";
  src: url(/assets/fonts/joseph.woff2);
}

/*# sourceMappingURL=style.css.map */
