@font-face {
    font-family: 'roman-tunde, sans-serif, cursive';
    src: url(/assets/fonts/GrandSlang_Roman.woff2);
}

@font-face {
    font-family: 'text-tunde, sans-serif, cursive';
    src: url(/assets/fonts/joseph.woff2);
}